<!doctype html>
<html lang="pl">
	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="description" content="">
    	<meta name="author" content="MrBartek21">
    	<meta name="generator" content="VisualStudio Code">
    	<title><%= title %></title>

    	<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="library/bootstrap/CSS/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="library/bootstrapIcons/bootstrap-icons.css" type="text/css">
		<script src="library/jquery-min.js"></script>


		<link href="css/main.css" rel="stylesheet">
		<link href="css/Colors.css" rel="stylesheet">


		<link href="css/Keyboard.css" rel="stylesheet">
		<link href="css/Player.css" rel="stylesheet">





		<link rel="stylesheet" href="css/GaugeMeter.css" type="text/css">
	</head>
	<body>

        <%- include('barTop') %>
		

		<main class="container" style="max-width: 100% !important;">
			<div class="row">

				<!-- Left menu /-->
				<div class="col-8 p-0">

					<!-- Left menu buttons /-->
					<div class="row" id="menuTile">
						<div class="col-1"></div>
						<div class="col-10">
							<div id="screen1" class="row">
								<div class="col-sm-3"><button class="btn btn-tile" id="btnTileDash" disabled><div class="text-center"><i class="bi bi-speedometer fs-1"></i><p class="mb-1">Dash</p></div></button></div>
								<div class="col-sm-3"><button class="btn btn-tile" id="btnTileLed" disabled><div class="text-center"><i class="bi bi-lightbulb fs-1"></i><p class="mb-1">Ledy</p></div></button></div>
								<div class="col-sm-3"><button class="btn btn-tile" id="btnTilePump" disabled><div class="text-center"><i class="bi bi-droplet fs-1"></i><p class="mb-1">Sport</p></div></button></div>
								<div class="col-sm-3"><button class="btn btn-tile" id="btnTileMusicPlaylist"><div class="text-center"><i class="bi bi-music-note-list fs-1"></i><p class="mb-1">Playlisty</p></div></button></div>
								<div class="col-sm-3"><button class="btn btn-tile" id="btnYouTube" disabled><div class="text-center"><i class="bi bi-youtube fs-1"></i><p class="mb-1">YouTube</p></div></button></div>
								<div class="col-sm-3"><button class="btn btn-tile" id="btnSpotify" disabled><div class="text-center"><i class="bi bi-spotify fs-1"></i><p class="mb-1">Spotify</p></div></button></div>
							</div>
							<div id="screen2" class="row" style="display: none;">
								<div class="col-sm-3"><button class="btn btn-tile" id="btnTileFiles" disabled><div class="text-center"><i class="bi bi-folder fs-1"></i><p class="mb-1">Pliki</p></div></button></div>
								<div class="col-sm-3"><button class="btn btn-tile" id="btnTileTest" disabled><div class="text-center"><i class="bi bi-diagram-3 fs-1"></i><p class="mb-1">Test</p></div></button></div>
							</div>
							<div id="screen3" class="row" style="display: none;">
								<div class="col-sm-3"><button class="btn btn-tile" id="btnTileSettings"><div class="text-center"><i class="bi bi-sliders fs-1"></i><p class="mb-1">Ustawienia</p></div></button></div>
								<div class="col-sm-3"><button class="btn btn-tile" id="btnTileLogs"><div class="text-center"><i class="bi bi-card-list fs-1"></i><p class="mb-1">Logi</p></div></button></div>
								<div class="col-sm-3"><button class="btn btn-tile" id="btnTileSensors"><div class="text-center"><i class="bi bi-activity fs-1"></i><p class="mb-1">Stan czujników</p></div></button></div>
								<div class="col-sm-3"><button class="btn btn-tile" id="btnTileSCM" disabled><div class="text-center"><i class="bi bi-cpu fs-1"></i><p class="mb-1">System Control Module</p></div></button></div>
								<div class="col-sm-3"><button class="btn btn-tile" id="btnTileDebug"><div class="text-center"><i class="bi bi-bug fs-1"></i><p class="mb-1">Debug</p></div></button></div>
							</div>
							
							<div class="screen-control">
								<button class="screen-button active" onclick="goToScreen(0)"><i class="bi bi-speedometer2"></i></button>
								<button class="screen-button" onclick="goToScreen(1)"><i class="bi bi-folder2-open"></i></button>
								<button class="screen-button" onclick="goToScreen(2)"><i class="bi bi-sliders"></i></button>
							</div>
							
						</div>
						<div class="col-1"></div>
					</div>

					<!-- Left content /-->
                    <%- include('content') %>
				</div>
				

				<!-- Right menu /-->
				<div class="col-4 p-0 text-center">
					<!-- Panel: Odtwarzacz muzyki -->
					<div class="bg-dark text-light p-3 full-view" id="musicDiv">

						<h2 class="fw-bold mb-4" id="PlayerTitle">Song Title</h2>
						<h4 class="mb-3" id="PlayerAuthor">Song Author</h4>
						<p class="lead mb-4"><span id="PlayerNow">00:00</span> / <span id="PlayerTime">00:00</span></p>
						<hr class="text-light">
						<div class="container-fluid mt-3 vertical-scrollable">
							<div class="row text-center" id="PlayerList"></div>
						</div>
					</div>

					<!-- Panel: Stan drzwi / klap -->
					<div class="bg-dark text-light p-4 shadow-sm full-view" id="carStateDiv" style="display: none;">
						<h3 class="fw-bold mb-4 text-center">Stan drzwi i klap</h3>
						<div class="row g-3">
							<div class="col-md-6">
								<div class="card bg-success text-dark shadow-sm p-3">
									<p class="mb-0"><i class="bi bi-door-open"></i> Drzwi lewe przednie:
										<span id="doorFrontLeft" class="fw-bold">Zamknięte</span>
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card bg-success text-dark shadow-sm p-3">
									<p class="mb-0"><i class="bi bi-door-open"></i> Drzwi prawe przednie:
										<span id="doorFrontRight" class="fw-bold">Zamknięte</span>
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card bg-success text-dark shadow-sm p-3">
									<p class="mb-0"><i class="bi bi-door-open"></i> Drzwi lewe tylne:
										<span id="doorRearLeft" class="fw-bold">Zamknięte</span>
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card bg-success text-dark shadow-sm p-3">
									<p class="mb-0"><i class="bi bi-door-open"></i> Drzwi prawe tylne:
										<span id="doorRearRight" class="fw-bold">Zamknięte</span>
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card bg-success text-dark shadow-sm p-3">
									<p class="mb-0"><i class="bi bi-truck"></i> Klapa bagażnika:
										<span id="trunk" class="fw-bold">Zamknięta</span>
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card bg-danger text-dark shadow-sm p-3">
									<p class="mb-0"><i class="bi bi-gear-wide-connected"></i> Maska:
										<span id="hood" class="fw-bold">Otwarta</span>
									</p>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Panel: Telefon / Alerty -->
					<!--<div class="bg-brown text-light p-1 full-view" id="telDiv" style="display: none;">
						<div class="alert alert-warning" role="alert">Niski poziom wody! - 12:34:27</div>
						<div class="alert alert-warning" role="alert">Niski poziom wody! - 12:34:27</div>
						<div class="alert alert-warning" role="alert">Niski poziom wody! - 12:34:27</div>
						<div class="alert alert-warning" role="alert">Niski poziom wody! - 12:34:27</div>
					</div>-->
				</div>

			</div>
		</main>


        <%- include('keyboard') %>
		<%- include('modal') %>
		<%- include('barBottom') %>



		<script src="/js/main.js"></script>
		<script src="/js/navbar.js"></script>


		<script src="/js/keyboard.js"></script>
		<script src="/js/camera.js"></script>
		<script src="/js/climate.js"></script>


		<script src="/js/content.js"></script>
		<script defer src="/js/content/music-player.js"></script>

		

		<script src="/library/gauge.js"></script>

		<!--<script src="/JS/Functions.js"></script>-->
		<!--<script src="/JS/Manager/USB.js"></script>-->
		

		<script>
			$(document).ready(function(){
			  $(".GaugeMeter").gaugeMeter();
			});
		</script>


		<script src="library/bootstrap/JS/bootstrap.bundle.min.js"></script>
	</body>
</html>
